.price_swap__container {
    width: 100%;
    margin-top: 6.75rem;
}

.price_swap {
    padding: 1.5rem;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 1rem;
    color: var(--dark-grey);
    font-weight: 600;
    /* background: rgba(112, 161, 255, .25); */
    color: var(--dark-grey);
    border: 2px solid var(--light-grey);
    line-height: 1;
    transition: .345s ease all;
    cursor: pointer;
}

.price_swap:hover {
    border-color: var(--dark-grey);
    transition: .345s ease all;
}

.price_swap__price {
    margin-bottom: 0;
    font-weight: bold;
}

.price_swap__desc {
    line-height: 1;
}

.add_to_cart {
    padding: 1rem;
    width: 100%;
    background: #2ed573;
    border-radius: 8px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.add_to_cart[disabled] {
    background: var(--light-grey);
}

.price_swap__selected,
.price_swap__selected:hover {
    border: 2px solid var(--dark-grey);
    background: var(--dark-grey);
    color: #FFF;
}