.shop_page {
    padding-top: 174px;
}

.shop_name {
    font-weight: bold;
    margin-bottom: .5rem;
}

.shop_address {
    margin-bottom: 2rem;
    color: var(--orange);
}

.shop__main_image {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}