* > * {
  box-sizing: border-box;
  font-family: soleil, sans-serif;
}


img {
    display: block;
    width: 100%;
}

:root {
    --grey: #747d8c;
    --light-grey: #dfe4ea;
    --med-grey: #a4b0be;
    --dark-grey: #2f3542;
    --orange: #FF8762;
    --light-orange: rgba(255, 135, 98, 0.15);
}

/*  Stripe Styles */

.StripeElement {
    padding: .75rem .5rem;
    background: #FEFEFE;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: .5rem;
}